.status-active {
    color: #11cfbd !important;
    cursor: pointer;
}
.fa-trash {
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.fa-edit {
    font-size: 20px;
    cursor: pointer;
}
.btn-dark-blue{
    cursor: pointer;
}.ee{
    cursor: pointer;
}
.special{
    min-width: 370px !important;
}h5{
    font-weight: bold;
    font-size: 12px;
}