.total_color {
  color: #2dce98;
}
.complete_color {
  color: #11cdef;
}
.cancel_color {
  color: #f53c56;
}
.subscription_color {
  color: #1cb1f5;
}
.subscription_owner_color {
  color: #bb51e1;
}
.application_user_color {
  color: #51dce1;
}
.value-label {
  font-size: 1rem;
  color: #000;
}
